* {
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;
   text-align: center;
}

#result-container {
    display: none;
    position: relative;
    background-color: rebeccapurple;
    width: auto 0;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#result-container h1 {background-color: rebeccapurple;}


button {
    background-color: white;
    color: black;
    border: 1px solid white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
}


#restart-container {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

h2 {
    margin-top: 10px;
    font-size: 40px;
    text-decoration: underline;
}